---
layout: default
disqus: false
archive: false
post_class: post-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{'/' | relative_url }}">Home</a>
        <a class="subscribe-button icon-feed" target="_blank" href="{{'feed.xml' | relative_url }}">Subscribe</a>
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            {% if page.description.size > 0 %}
                <h5>{{ page.description }}</h5>
            {% endif %}
            <section class="post-meta">
                {% if page.categories.size > 0 %}
                    {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
                {% endif %}
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            </section>
        </header>

<!--         <header class="post-header">
            <a id="blog-logo" href="{{site.url}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->

        <!-- <span class="post-meta">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.categories.size > 0 %}
                {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
        </span> -->

        <!-- <h1 class="post-title">{{ page.title }}</h1> -->

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url  | relative_url}}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <h5 class="more">More Posts</h5>
        <nav class="post-nav">
        {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
            <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
        </nav>

        <!-- <h5>Subscribe to get notified when I release a post!</h5>
        <form accept-charset="UTF-8" action="https://www.sendicate.net/subscribe/5jn9e9" method="post">
            <input id="subscriber_email" name="subscriber[email]" type="text" />
            <input name="commit" type="submit" value="Subscribe" />
        </form>  -->

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{'/' | relative_url }}" style="background-image: url({{'/assets/images/profile.jpg' | relative_url}})">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.author }} </h4>
                    <!-- Author Bio -->
                    <p>
                        Professional software developer since 2013.
                        Was the VP of Engineering at <a href="https://nurtureboss.io">Nurture Boss</a>.
                        Now I'm at Amazon.
                    </p>
                    <p>
                        Thoughts? Drop me a line on
                        <a target="_blank" href="https://twitter.com/carson_howard">Twitter</a>
                        or <a target="_blank" href="https://linkedin.com/in/carson-howard-632b1752/">Linkedin</a>
                    </p>
                </section>
            {% endif %}

            <!-- Share links section -->
            {% include share.html %}

        </footer>

    </article>

</main>
